body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    height: 80px;
    background-image: url(./img/pattern.png);
    background-size: contain;
    background-color: rgb(59, 157, 255)
}

.logo {
    max-width: 200px;
    max-height: 50px;
    position: relative;
    top: 30px;
    left: 10px;

}

main {
    margin: 10px;
}

.link {
    text-decoration: none;
}

.text-grey {
    color: gray;
}

figure {
    margin: 0;
}

.importante {
    background-color: yellow;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: rgb(0, 157, 255);
    color: white;
    text-align: left;

}

table th,
table td {
    padding: 10px;
}

#row-1 {
    max-height: 20px;
}

#row-2,
#row-4 {
    background-color: rgb(0, 251, 255);
}

footer {
    margin: 10px;
}